<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-app="MyApp">
  <div ng-controller="MyCtrl">

    <h3>Nested $http calls Test</h3>
    <button ng-click="nestedTest()">Nested $http calls Test</button>
    <p>Combined Result: {{combinedNestedResult}}</p>

    <h3>$q.all Test</h3>
    <button ng-click="allTest()">$q.all() Test</button>
    <p>Combined Result: {{combinedResult}}</p>

    <h3>Deferred Timer Test</h3>
    <input type="checkbox" ng-model="success" ng-checked="success"> Toggle Success/Failure
    <button ng-click="startDeferredTimer(success)">Start Test</button>
    <p>1 sec Timer Result: {{deferredTimerResult}}</p>
  </div>

  <script src="lib/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</body>
</html>
