<html>
  <head>
    <script src="js/angular.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
  </head>
  <body ng-app="MyApp">
    <div ng-controller="User">
      <form name="form" ng-submit="submit()" novalidate>
        <label>Firstname</label>
        <input name="firstname" type="text" ng-model="user.firstname" required/>
        <label>Lastname</label>
        <input type="text" ng-model="user.lastname" required/>
        <label>Age</label>
        <input type="text" ng-model="user.age"/>
        <br>
        <button class="btn">Submit</button>
      </form>

      User Model: {{user}}
      <br>
      Form was submitted: {{wasSubmitted}}
      <br>
      Firstname input valid: {{form.firstname.$valid}}
      <br>
      Firstname input invalid: {{form.firstname.$invalid}}
      <br>
      Firstname validation error: {{form.firstname.$error}}
      <br>
      Form valid: {{form.$valid}}
      <br>
      Form validation error: {{form.$error}}
    </div>
  </body>
</html>
