!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Express Seed App
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          a.brand(href="/") Contacts

    div.container
      div.row
        div.span12
          div(ng-controller='MainCtrl')
            ng-view

      div.footer
        p &copy; Company 2012

    script(src='js/lib/angular/angular.js')
    script(src='js/lib/angular/angular-resource.js')
    script(src='js/app.js')
    script(src='js/services.js')
    script(src='js/controllers/ContactsEditCtrl.js')
    script(src='js/controllers/ContactsIndexCtrl.js')
    script(src='js/controllers/ContactsShowCtrl.js')
    script(src='js/controllers/MainCtrl.js')
    script(src='js/filters.js')
    script(src='js/directives.js')
